.Converter {
  width: 200px;
  font-weight: bold;
}

.Converter-form {
  display: flex;
  align-items: center;
  border: 2px solid black;
}

.Converter-form-field {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 48px;
  padding-left: 55px;

  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 2px;
  border-style: none;
}

.Converter-output {
  height: 48px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;
  background-color: #000000;
  border: 2px solid black;

}
